html, body {
    height: 100%;
    overflow:  hidden;
}
.wrap{
    height: 100%;
    width: 60%;
    margin: 0 auto;
    background: #ffffff;
}
.header{
    height: 15%;
    display:flex;
    align-items: center;
}

.header>div{
    width: calc(100%/3);
    height: 100%;
    border: 1px solid red;
    background: gray;
    position: relative;
}
.plus{
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.influencer>img{
    position: absolute;
    top: 50%;
    left: 20%;
    height: 17px;
}
.plus>img{
    position: absolute;
    top: 30%;
    left: 20%;
    height: 50px;
}



.content>div{
    border: 1px solid fuchsia;
    width: 30%;
    height: 20%;
}




.content{
    height: 60%;
    background: green 
}
.footer{
    height: 25%;  
    background: goldenrod
}