.container{
    background: white;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
table{
    position: relative;
    top: 50%;
    left: 40%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: center;
    border-spacing: 0 10px;
}
th{
    padding: 10px 20px;
    color: #FFAB00;
    background:#352b16;
    border-right: 2px solid #FFAB00;
}
th:last-child{
    border-right: none;
}
td{
    color:#504e4a;
    background: white;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
td:first-child{
    border-left: 2px solid black;
    border-right: none;
}
th:first-child, td:first-child{
    text-align: left;
}
/*
first table
th, td:first-child{
    background: #AFCDE7;
    color: white;
}
td:first-child, th:first-child{
    text-align: left;
    width: 200px;
}
td{
    background: #D8E6F3;
    color: black;
}
td, th{
    padding: 5px;
    height: 40px;
    border: 0.5px solid white;
    width: 60px;
}

*/