.sticky{
    width: 200px;
    height: 100px;
    border: 2px solid#f00;
    position: sticky;
    float: right;
    right: 20px;
    top:0;
}
h3{
    color:#f00;
    text-align: center;
}
.sometxt{
    width: 50%;
}