body{
	background-color: #333;
	color: white;
	font-family: Roboto;
}
.example{
	padding: 80px 0px;
}
.example__container{
	padding: 0px 15px;
	margin: 0px auto;
	max-width: 65.625rem;
	position: relative;
}
@media(min-width: 46.875em){
	.example__container::before{
		content: "";
		position: absolute;
		background: url("../images/decor.jpg") 0 0 / 100% no-repeat;
		right: 0;
		width: 14.57%;
		padding-top: 22.95%;
		top: 50%;
		transform: translate(50%,-50%);
	}
}
.example__header{
	margin: 0px 0px 25px 0px;
	max-width: 46.875rem;
}
.example__sub-title{
	font-weight: 700;
	font-size: 0.875rem;
	text-transform: uppercase;
	color: #7616a6;
	line-height: 1.7;
	margin: 0px 0px 1.07rem 0px;
}
.example__title{
	font-weight: 900;
	font-size: 2.625rem;
	text-transform: uppercase;
	color: #369e4c;
	line-height: 1.19;
	letter-spacing: 0.12em;
	margin: 0px 0px 0.38rem 0px;
}
@media(max-width: 46.875em){
	.example__title{
		font-size: 2rem;
	}
}
.example__text{
	line-height: 1.5;
}
.item-example{
	display: flex;
	column-gap: 23px;
}
img{
	width: 63px;
}
.item-example__icon{
	flex: 0 0 63px;
}
.item-example__title{
	color: #c25353;
	font-weight: 700;
	font-size: 1.5rem;
	margin: 0px 0px 0.45rem 0px;
}
.item-example__text{
	line-height: 1.5;
}
.example__items{
	display: flex;
	row-gap: 20px;
	flex-wrap: wrap;
	margin: 0px -12px;
}
.example__item{
	padding: 0px 12px;
	flex: 1 1 33.333%;
	min-width: 18.125rem;
}